<h2>
  Registered Players</br>
  <small class="text-muted"><%= "#{20 - players.count} more players to unlock prize-pool" %></small>
</h2>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
