<div class="row">
  <div class="col-12">
    <h1>FortressOne Oceania Tournament Registration</h1>
  </div>

  <div class="col-6">
    <h2>Register</h2>

    <%= render 'form', player: @player %>
  </div>

  <div class="col-6">
    <h2>Player List</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Donation (AUD)</th>
        </tr>
      </thead>

      <tbody>
        <% @players.each do |player| %>
          <tr>
            <td><%= player.name %></td>
            <td><%= "$#{player.donation}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h2>Total pledged to date: $<%= @total_pledged %></h2>

  </div>
</div>
